<div ng-controller="homeCtrl" id="homeTmpl" class="container-fluid">
<ng-include src="'/templates/partials/topnav.html'"></ng-include>
  <div class="row">
  <ng-include src="'/templates/partials/leftSidebar.html'"></ng-include>
  <div class="col-md-8"><h1>Welcome to CarlsGames</h1>
  <p>This is a theoretical website I created for some web games I made several years ago. It's entirely client side with a web.config to be hosted in IIS. It's based on AngularJS. This website is not currently live anywhere. The complete source is available on <a href="https://github.com/cwl157/carlsgames">Github</a></p>

  </div>
    </div> 
    <!-- Add the extra clearfix for only the required viewport --> <div class="clearfix visible-xs-block"></div>
</div>




